body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	color: #C0C0C0;
	line-height: 20px;
}

h1 {
	margin-top: 1px;
	font-size: 54px;
	line-height: 59px;
	color: #FFFFFF;
		
	@media (max-width: 599px) {
		font-size: 36px;
	}

	@media (max-width: 359px) {
		font-size: 32px;
	}	
}

h2 {
	font-size: 40px;
	line-height: 42px;
	color: #FFFFFF;
	
	@media (max-width: 599px) {
		font-size: 28px;
	}		
}

h3 {
	font-size: 28px;
	line-height: 32px;
	color: #FFFFFF;
}

.container {
	max-width: 1176px;
	margin: 0 auto;
	padding: 0 30px;
}

.btn {
	border: none;
	border-radius: 14px;
	outline: none;
	cursor: pointer;
	background-color: #FFFFFF;
	padding: 10px 20px;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0.4px;
	transition: background-color .2s ease-in;

	&:hover {
		background-color: #E1E0E0;
	}
}

.preheader {
	letter-spacing: 2px;
	text-transform: uppercase;
}

.subtitle {
	font-size: 23px;
	line-height: 30px;
	
	@media (max-width: 599px) {
		font-size: 18px;
	}	
}

.data {
	position: absolute;
	bottom: 40px;
	right: calc(40px / 1440px * 100%);
	display: flex;
	&__item {
		display: flex;
		align-items: flex-start;
		margin-left: 16px;
		font-size: 12px;
		line-height: 12px;
		color: #FFFFFF;
	}
	&__icon {
		height: 16px;
		margin-right: 6px;
	}

	@media (max-width: 599px) {
		width: 100%;
		justify-content: center;
	}
}

.sign {
	max-width: 298px;
	margin-right: calc(62px / 1440px * 100%);
	&__title {
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	@media (max-width: 599px) {
		margin: 0 auto;
		padding: 0 20px;
		text-align: center;
	}	
}

.hidden {
	display: flex;
	flex-direction: column;
	background-color: #181818;
	height: 0; //215px;
	padding: 0 30px;
	box-sizing: border-box;
	transition: height .3s linear;
	&__nav {
		opacity: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex: 1 0 auto;
		text-decoration: none;
		color: #FFFFFF;
		border-bottom: 1px dashed #333333;
		transition: opacity .3s linear;
	}
}

.hidden-visible {
	height: 215px;
}

.opacity {
	opacity: 1;
}