.footer {
	background-color: #000000;
	padding: 100px 0;
	&__top {
		display: flex;
		justify-content: space-between;
		padding-bottom: 36px;
		border-bottom: 2px solid #FFFFFF;

		&-right {
			display: flex;

			@media (max-width: 599px) {
				flex-direction: column;
			}
		}
		&-left {

		}

		@media (max-width: 1023px) {
			flex-direction: column;
		}
	}

	&__slogan {
		margin-top: 20px;
	}
	&__top-right {
		@media (max-width: 1023px) {
			margin-top: 36px;
		}
	}
	&__nav {
		display: flex;
		flex-direction: column;
		min-width: 220px;
		margin-left: 16px;

		&-title {
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		@media (max-width: 1023px) {
			margin-left: 0;
			margin-right: 16px;
		}

		&:last-child {
			@media (max-width: 599px) {
				margin-top: 25px;
			}
		}
	}

	&__link {
		color: #FFFFFF;
		text-decoration: none;
		margin-top: 10px;

		&:hover {
			text-decoration: underline;
		}
	}
	&__subscribe {
		display: flex;
		justify-content: space-between;
		padding: 36px 0;
		border-bottom: 2px solid #FFFFFF;

		@media (max-width: 699px) {
			flex-direction: column;
		}

		&-left {
			flex: 0 0 auto;
			margin-right: 36px;
		}
		&-right {
			flex-basis: 100%;
			max-width: 458px;
		
			@media (max-width: 699px) {
				margin-top: 36px;
			}			
		}
		&-title {
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #FFFFFF;
		}
		&-subtitle {
			font-size: 13px;
			margin-top: 20px;
		}

	}
	&__form {
		position: relative;
	}
	&__input {
		width: 100%;
		border: none;
		outline: none;
		border-radius: 12px;
		height: 52px;
		padding: 0 15px;
		box-sizing: border-box;
		font-family: "Poppins", sans-serif;
		font-size: 15px;

		&::placeholder {
			color: #C0C0C0;
		}

		@media (max-width: 599px) {
			font-size: 13px;
		}
	}
	&__submit {
		position: absolute;
		right: 15px;
		top: 10px;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: #000000;
		color: #FFFFFF;
		border-radius: 11px;
		font-family: "Poppins", sans-serif;
		font-size: 14px;
		padding: 5px 13px;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		padding-top: 56px;
		
		@media (max-width: 699px) {
			flex-direction: column;
		}		
	}
	&__copyright {}
	&__social {
		display: flex;
		
		@media (max-width: 699px) {
			margin-top: 20px;
		}

		&-link {
			text-decoration: none;
			margin-left: 20px;
			
			@media (max-width: 699px) {
				margin-left: 0;
				margin-right: 20px;
			}
		}
		&-icon {
			width: 24px;
			height: 24px;
		}
	}
}