.help {
	background-color: #000000;
	text-align: center;
	padding: 113px 30px 108px 30px;

	.subtitle {
		margin-top: 15px;
	}
	.btn {
		margin-top: 22px;
	}

	@media (max-width: 599px) {
		padding: 50px 30px 50px 30px; 
	}
}