.snapshot {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media (max-width: 599px) {
		height: 400px;
	}	
}
.sunset {
	background-image: url('../images/sunset_bg.jpg');
	
	@media (max-width: 599px) {
		background-image: url('../images/sunset_bg-xs.jpg');
	}	
}

.leafs {
	background-image: url('../images/leafs_bg.jpg');
	
	@media (max-width: 599px) {
		background-image: url('../images/leafs_bg-xs.jpg');
	}	
}

.starfall {
	background-image: url('../images/starfall_bg.jpg');

	@media (max-width: 599px) {
		background-image: url('../images/starfall_bg-xs.jpg');
	}	
}